# Eclipse
*/target
*/.classpath
*/.project
*/.settings
.metadata

# Editor
*~

# Misc
net.chrisdolan.pcgen.drools/src/main/resources/net/chrisdolan/pcgen/drools/*.ser
net.chrisdolan.pcgen.drools-android
scratch
